
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="'Hello, ' + ${title} + '!'"/>

<div th:each="element :${lessons}" class="alert alert-info mt-2">
    <h3 th:text="${element.specialization}"/>
    <p th:text="${element.execution}"/>
    <p1 th:text="${element.teacher}"/>
    <a th:href="'lesson'/ +  ${element.id}">Детальнее</a>>
</div>
</body>
</html>
