<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
  <head>
    <title>Авторизация</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <header>
      <p>Login Page</p>
    </header>

    <form id="formLog" th:action="@{/login}" method="post" class="autorize">
        <h4>Авторизация</h4>
      <div>
        <label class="label_autorize"> User Name: </label>
        <input class="input_autorize" type="text" name="username" />
      </div>
      <div>
        <label class="label_autorize"> Password: </label>
        <input class="input_autorize" type="password" name="password" />
      </div>
      <div>
        <input type="submit" value="Sign In" class="button" form="formLog" />
      </div>
    </form>

    <div class="buttons">
      <div style="display: inline-block; padding: 3px;"> 
        <a href="/registration">
          <input type="submit" value="Registration" class="button" />
        </a>
      </div>
      <div style="display: inline-block; padding: 3px;">
        <a href="/">
          <input type="submit" value="To Greeting" class="button" />
        </a>
      </div>
    </div>
        </div>
  </body>
</html>
