<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/student}" method="get">
    <p th:text="${message}"/>
</form>
<div>Список занятий</div>
<table border="1">
    <tr>
        <!--   <th>id</th> -->
        <th>teacher</th>
        <th>execution</th>
        <th>specialization</th>
        <th>students</th>
    </tr>
    <tr th:each="lesson : ${lessons}">

        <!--      <td th:utext="${lesson.id}">id</td> -->
        <td th:utext="${lesson.teacher}">teacher</td>
        <td th:utext="${lesson.execution}">execution</td>
        <td th:utext="${lesson.specialization}">specialization</td>
        <td th:utext="${lesson.users}">students</td>
        <td>
            <form th:action="@{/student/delete/{lessonId}(lessonId=${lesson.id})}" method="post">
                <input type="hidden" name="action" value="delete"/>
                <button type="submit">Delete</button>

            </form>
        </td>
        <td>
            <form th:action="@{/student/add/{lessonId}(lessonId=${lesson.id})}" method="post">
                <input type="hidden" name="action" value="add"/>
                <button type="submit">add</button>
            </form>
        </td>


</table>
<div>Добавление персонального урока</div>
<div>
    <form th:action="@{/student/addLesson}" method="post">
        <input type="text" name="execution" placeholder="Введите время выполнения 'yyyy-MM-dd HH:mm' "/>

        <select id="teacher" name="teacher" required>
            <option value="">Select Teacher</option>
            <option th:each="teacher : ${teachers}" th:value="${teacher}" th:text="${teacher}"></option>
        </select>
        <button type="submit">Добавить</button>
    </form>
</div>
</body>
<footer>
    <a href="/main"> <input type="submit" value="To Main"/> </a>
</footer>
</html>